<div class="card-header">
  <h1>
    <i class="fa fa-lock-open">Editing Enrollment</i>
  </h1>
</div>

<div class="card-body">
  <%= render 'form', enrollment: @enrollment %>
</div>

<div class="card-footer">
  <%= link_to 'Show', @enrollment %> |
  <%= link_to 'Back', enrollments_path %>
</div>
