<div class="card-header">
  <h3>
    <i class="fa fa-graduation-cap"></i>
    <%= link_to @course.title, course_path(@course) %>
    <hr>
    <i class="fa fa-lock-open">Buy course</i>
  </h3>
</div>

<div class="card-body">
  <%= form_tag course_enrollments_path(@course) do %>
    <% submit_tag "pay #{@course.price}", class:"btn btn-lg btn-success"%>
  <% end %>
</div>

<div class="card-footer">
  <%= link_to 'Back', course_path(@course) %>
</div>
